language: node_js
node_js: stable
script:
  - npm run test:lint
  - polymer test --skip-plugin local
addons:
  jwt:
    secure: gWfORkfQIjF0bzopu049rJmgLwjpFg9ss0HkmopZzJpqL7fyy6btXN+hlB2TQYKovcbAFlYyyrM8NDENpQMfRJmDpG4wtF0r4WPAu2fONbCgiFIrKrc/MbTsbe8p1pbBDZIRhPk1yfUEJZtkMtKZPCz3/4dYU9dPleXzLVQ+Dr7r/h37hSnh6epEsNwxgnFpEfsCneaz3TxsMqjs50AqOufuh7gdYDjFmbOCQqPPZ0J7nLq4heuKCPTC8kJCJwSmKudYR2gYssBzXERnS7PZQcSFaqhHT6vEzOVpZkpSbAP6md8mp5mb42AvzDiRVfz1fD1gN7M5vfCWmVSZmnjD5El7OKS28n39Ugz5ODwnsunhlCCjT1n74meU9uwAeuB2mZe8DMiQ0lrac00qS6GP+KcENPI3xBYHjntWIGGifDVadPpjMLHiQChIxZ+yrKjJdWauuw0hEwYtTIiMOtO48etdjPD092QY3Pgjlv4+KTZXwq4EtJjvt6pG42qiXEvCR5R4xczgbBixVra6R5RSq0tvIEZg2PLn1wFXpwQeDm2oFqKT+COqhaitBx1oVCgsCbHmSjRsFcIaiYcgo272FAgpFs9jYSi8CxouVoloe1DgQnlX9cfX+RXnWt7Q8NYhQcZYuPwWt7GSTHSxTOTQfWe6zYqcOsnMNCKZ8S02M2A=
env:
  SAUCE_USERNAME: Desire2Learn
